apiVersion: v1
kind: Service
metadata:
  name: ad-auth-service
  namespace: buerokratt
  labels:
    app: ad-auth-service
spec:
  type: ClusterIP
  ports:
  - port: 8085
    targetPort: 8085
    protocol: TCP
    name: http
  selector:
    app: ad-auth-service
